Pillow==2.7.0
decorator==3.4.0
imageio==1.0
matplotlib==1.4.2
mock==1.0.1
moviepy==0.2.2.03
nose==1.3.4
numexpr==2.4
numpy==1.9.1
pyparsing==2.0.3
python-dateutil==2.3
pytz==2014.10
scikit-image==0.10.1
scipy==0.14.1
six==1.8.0
tqdm==1.0
